<section class="carousel-course bg-primary">
  <div class="container pt-10">
    <div class="row pt-8 pb-10">
      <div class="col-12 col-lg-6 d-lg-block d-none d-grid gap-3">
        <div class="d-flex flex-wrap d-grid gap-4">
          <a href="#" class="course-card d-flex align-items-center ms-3">
            <img class="rounded-4 py-3 px-3" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-learning/icons/megaphoneSimple.png" style="width: 64px; background: #FF994F;" alt="course-icon">
            <div>
              <h5 class="pb-2">網路行銷</h5>
              <span class="text-secondary">342 門課程</span>
            </div>
          </a>
          <a href="#" class="course-card bg-light d-flex align-items-center ms-3">
            <img class="rounded-4 py-3 px-3" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/icons/camera.png?raw=true" style="width: 64px; background: #5E5E5E;" alt="course-icon">
            <div>
              <h5 class="pb-2">拍攝剪輯</h5>
              <span class="text-secondary">563 門課程</span>
            </div>
          </a>
          <a href="#" class="course-card bg-light d-flex align-items-center ms-3">
            <img class="rounded-4 py-3 px-3" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-learning/icons/chartBarHorizontal.png" style="width: 64px; background: #FF9BAD;" alt="course-icon">
            <div>
              <h5 class="pb-2">自我成長</h5>
              <span class="text-secondary">490 門課程</span>
            </div>
          </a>
          <a href="#" class="course-card bg-light d-flex align-items-center ms-3">
            <img class="rounded-4 py-3 px-3" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/icons/penNib.png?raw=true" style="width: 64px; background: #564FFD;" alt="course-icon">
            <div>
              <h5 class="pb-2">藝術設計</h5>
              <span class="text-secondary">230 門課程</span>
            </div>
          </a>
          <a href="#" class="course-card bg-light d-flex align-items-center ms-3">
            <img class="rounded-4 py-3 px-3" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-learning/icons/bugDroid.png" style="width: 64px; background: #54DFF2;" alt="course-icon">
            <div>
              <h5 class="pb-2">數據分析</h5>
              <span class="text-secondary">395 門課程</span>
            </div>
          </a>
          <a href="#" class="course-card bg-light d-flex align-items-center ms-3">
            <img class="rounded-4 py-3 px-3" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-learning/icons/creditCard.png" style="width: 64px; background: #52E9BC;" alt="course-icon">
            <div>
              <h5 class="pb-2">投資理財</h5>
              <span class="text-secondary">486 門課程</span>
            </div>
          </a>
          <a href="#" class="course-card bg-light d-flex align-items-center ms-3">
            <img class="rounded-4 py-3 px-3" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-learning/icons/headphones.png" style="width: 64px; background: #CF93FF;" alt="course-icon">
            <div>
              <h5 class="pb-2">音樂創作</h5>
              <span class="text-secondary">283 門課程</span>
            </div>
          </a>
          <a href="#" class="course-card bg-light d-flex align-items-center ms-3">
            <img class="rounded-4 py-3 px-3" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/icons/arrow.png?raw=true" style="width: 64px; background: #0068FF;" alt="course-icon">
            <div>
              <h5>探索更多</h5>
            </div>
        </a>
        </div>
      </div>
      <div class="col-12 col-lg-6 d-lg-flex justify-content-center align-items-center d-none mb-9">
        <div class="title-text px-3">
          <div class="d-flex align-items-center">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/deco/polygon-1.png?raw=true" alt="flower-5" style="width: 80px;">
            <div>
              <h2 class="text-light">想學什麼嗎？</h2>
              <h2 class="text-light">一探究竟。</h2>
            </div>
          </div>
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/deco/line-2.png?raw=true" alt="line-img">
        </div>
      </div>
      <div class="col-12 col-lg-6 d-lg-none">
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/deco/polygon-1.png?raw=true" alt="flower-5" style="width: 80px;">
        <div class="title-text px-3">
          <h2 class="text-light">想學什麼嗎？</h2>
          <h2 class="text-light">一探究竟。</h2>
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/deco/line-2.png?raw=true" alt="line-img">
        </div>
      </div>
      <div class="swiper swiper-2 col-12 col-lg-6 d-lg-none mb-9 title-pc">
        <div class="swiper-wrapper d-flex d-grid gap-4">
          <div class="swiper-slide d-grid gap-4">
            <a href="#" class="course-card d-flex align-items-center ms-3">
              <img class="rounded-4 py-3 px-3" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-learning/icons/megaphoneSimple.png" style="width: 64px; background: #FF994F;" alt="course-icon">
              <div>
                <h5 class="pb-2">網路行銷</h5>
                <span class="text-secondary">342 門課程</span>
              </div>
            </a>
            <a href="#" class="course-card bg-light d-flex align-items-center ms-3">
              <img class="rounded-4 py-3 px-3" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/icons/camera.png?raw=true" style="width: 64px; background: #5E5E5E;" alt="course-icon">
              <div>
                <h5 class="pb-2">拍攝剪輯</h5>
                <span class="text-secondary">563 門課程</span>
              </div>
            </a>
          </div>
          <div class="swiper-slide d-grid gap-4">
            <a href="#" class="course-card bg-light d-flex align-items-center ms-3">
              <img class="rounded-4 py-3 px-3" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-learning/icons/chartBarHorizontal.png" style="width: 64px; background: #FF9BAD;" alt="course-icon">
              <div>
                <h5 class="pb-2">自我成長</h5>
                <span class="text-secondary">490 門課程</span>
              </div>
            </a>
            <a href="#" class="course-card bg-light d-flex align-items-center ms-3">
              <img class="rounded-4 py-3 px-3" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/icons/penNib.png?raw=true" style="width: 64px; background: #564FFD;" alt="course-icon">
              <div>
                <h5 class="pb-2">藝術設計</h5>
                <span class="text-secondary">230 門課程</span>
              </div>
            </a>
          </div>
          <div class="swiper-slide d-grid gap-4">
            <a href="#" class="course-card bg-light d-flex align-items-center ms-3">
              <img class="rounded-4 py-3 px-3" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-learning/icons/bugDroid.png" style="width: 64px; background: #54DFF2;" alt="course-icon">
              <div>
                <h5 class="pb-2">數據分析</h5>
                <span class="text-secondary">395 門課程</span>
              </div>
            </a>
            <a href="#" class="course-card bg-light d-flex align-items-center ms-3">
              <img class="rounded-4 py-3 px-3" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-learning/icons/creditCard.png" style="width: 64px; background: #52E9BC;" alt="course-icon">
              <div>
                <h5 class="pb-2">投資理財</h5>
                <span class="text-secondary">486 門課程</span>
              </div>
            </a>
          </div>
          <div class="swiper-slide d-grid gap-4">
            <a href="#" class="course-card bg-light d-flex align-items-center ms-3">
              <img class="rounded-4 py-3 px-3" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-learning/icons/headphones.png" style="width: 64px; background: #CF93FF;" alt="course-icon">
              <div>
                <h5 class="pb-2">音樂創作</h5>
                <span class="text-secondary">283 門課程</span>
              </div>
            </a>
            <a href="#" class="course-card bg-light d-flex align-items-center ms-3">
              <img class="rounded-4 py-3 px-3" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/icons/arrow.png?raw=true" style="width: 64px; background: #0068FF;" alt="course-icon">
              <div>
                <h5>探索更多</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>