
<footer>
  <div class="container">
    <div class="d-lg-flex flex-lg-row flex-column justify-content-between align-items-center mb-3">
      <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-learning/logo-white.png?raw=true" alt="logo" style="width: 200px;">
      <ul class="d-lg-flex text-white d-grid gap-7 mt-8">
        <li>常見問題</li>
        <li>關於我們</li>
        <li>隱私權政策</li>
        <li>使用者條款</li>
      </ul>
    </div>
    <div class="d-lg-none justify-content-between align-items-center">
      <ul class="d-flex d-grid gap-3 footer-icon my-8">
        <li>
          <i class="bi bi-line border rounded-5 text-white" style="width: 40px;"></i></li>
        <li><i class="bi bi-youtube border rounded-5 text-white"></i></li>
        <li><i class="bi bi-facebook border rounded-5 text-white" style="width: 40px;"></i></li>
      </ul>
      <p class="text-white pt-lg-7">copyright © 2024 課程網站 All Rights Reserved.</p>
    </div>
    <div class="d-lg-flex d-none justify-content-between align-items-center">
      <p class="text-white pt-7">copyright © 2024 LEARNING 課程網站 All Rights Reserved.</p>
      <ul class="d-flex d-grid gap-3 footer-icon">
        <li>
          <i class="bi bi-line border rounded-5 text-white" style="width: 40px;"></i></li>
        <li><i class="bi bi-youtube border rounded-5 text-white"></i></li>
        <li><i class="bi bi-facebook border rounded-5 text-white" style="width: 40px;"></i></li>
      </ul>
    </div>
  </div>
</footer>