
.swiper-6{
  border-radius: 80px;
  .swiper-slide {
    position: relative;
    width: 1280px !important;
  }
}

.swiper-3{
  .swiper-wrapper {
    height: 470px !important;
  }
}

.swiper-2{
  .swiper-slide {
    width: auto !important;
  }
}

.swiper-5{
  height: 605px !important;
  .swiper-slide {
    width: 315px !important;
  }
}